@font-face {
  font-family: Computer Modern;
  src: url(font/cmunrm.ttf);
}
@font-face {
  font-family: chiwer kesme;
  src: url(font/ukijchik.ttf);
  size-adjust: 110%;
}
@font-face {
  font-family: Ukij Tor;
  src: url(font/ukijtor.ttf);
}


body, html{
  height:100%;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
table{
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100vh; 
  overflow: hidden;
  /* display: flex; */
}
textarea{
  resize: none;
  border: none;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  height: 99.5vh;
  color: #FFF;
  background-color: #222;
  font-size: 1em;
  /* font-family: "Courier", monospace; */
  font-family: Menlo, Monaco, monospace, Ukij Tor;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
tr,td{
  vertical-align: top;
  height: 100vh;
  overflow: auto;
  width: 50%;
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}
#Input{
  background-color: #222;
}
#Output {
  position: absolute;
}
#outputLatex{
  /* position: absolute; */
  word-wrap: break-word;
  overflow-x: hidden;
  font-family: "Computer Modern", "chiwer kesme";
  padding: 0px 20px;
  height: 93vh;
}

textarea:hover,  
textarea:active,  
textarea:focus{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.MathJax_Display{
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 10px;
  word-wrap: unset;
}

.tool-bar button {
  cursor: pointer;
  z-index: 1;
}


.tool-bar img{
  width: 25px;
}

.tool-bar{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
  background-color: #222;
  padding-left: 5px;
}



@media print{
  .tool-bar, #Input {
    display: none;
  }
  #Output{
    width: 100%;
  }
  #outputLatex,body, #Output{
    height:auto !important;
  }
  #outputLatex{
    margin: 20px !important;
    padding: 0px !important;
  }
  @page {
     margin: 0; 
    }
  body {   
      -webkit-print-color-adjust: exact;
  }
}

