@font-face {
  font-family: Computer Modern;
  src: url(font/cmunrm.ttf);
}

body, html{
  height:100%;
  padding: 0px;
  margin: 0px;
}
table
{
  width: 100%;
  padding: 0px;
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  /* display: flex; */
}
textarea
{
 resize: none;
 border: none;
 margin: 0px;
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 20px;
  height: 99.5vh;
  color: #FFF;
  background-color: #222;
  font-size: 1.5em;
  font-family: "Courier", monospace;
  width: 100%;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
}
tr,td
{
  vertical-align: top;
  height: 100vh;
  overflow: auto;
  width: 50%;
  background-color: #FFF;
  padding: 0px;
  margin: 0px;
}
td#Input
{
  background-color: #222;
}
td#Output{
  position: absolute;
  word-wrap: break-word;
  overflow-x: hidden;
  font-family: "Computer Modern";
  font-weight: 500;
}
#MathBuffer
{
  font-size: 1.5em;
  margin-top: 20px;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  /* position: absolute; */
  left: 0;
  top: 0;
  right: 0;

}
#MathPreview
{
  font-size: 1.5em;
  margin-top: 20px;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  /* position: absolute; */
  left: 0;
  top: 0;
}
textarea:hover,  
textarea:active,  
textarea:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.MathJax_Display{
  overflow-x: scroll;
  overflow-y: hidden;
  padding-bottom: 10px;
  word-wrap: unset;
}

#print {
  position: fixed;
  cursor: pointer;
  top:2px;
  right: 20px;
}

#print img{
  width: 30px;
}